<!--   figshare   -->
{{ if .Params.figshare }} <a href="" class="badge badge-small badge-red"><i class="fa fa-file-pdf-o"></i>&nbsp;figshare</a>{{ end }}
<!--   speakerdeck   -->
{{ if .Params.speakerdeck }} <a href="" class="badge badge-small badge-blue">speakerdeck</a>{{ end }}
<!--   slideshare   -->
{{ if .Params.slideshare }} <a href="" class="badge badge-small badge-green">slideshare</a>{{ end }}
{{ if .Params.file }}<a href="https://blog.oilgainsanalytics.com/papers/{{.Params.file}}" class="badge badge-small badge-red"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>{{ end }}
{{ if .Params.link }} <a href="" class="badge badge-small badge-yellow">link</a>{{ end }}