<!--   figshare   -->
{{ if .Params.figshare }} <a href="" class="badge badge-small badge-red"><i class="fa fa-file-pdf-o"></i>&nbsp;figshare</a>{{ end }}
<!--   speakerdeck   -->
{{ if .Params.speakerdeck }} <a href="" class="badge badge-small badge-blue">speakerdeck</a>{{ end }}
<!--   slideshare   -->
{{ if .Params.slideshare }} <a href="" class="badge badge-small badge-green">slideshare</a>{{ end }}
<!--   file   -->
{{ if .Params.file }} <a href="https://blog.oilgainsanalytics.com/briefcase/{{.Params.file}}" class="badge badge-small badge-red"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>{{ end }}
<!--   link   -->
{{ if .Params.link }} 
    {{ if in .Params.link "github.com" }} <a href="" class="badge badge-small badge-yellow">github</a>
    {{ else }}
        <a href="" class="badge badge-small badge-yellow">link</a>
    {{ end }}
{{ end }}

