{{ define "main" }}
{{ $pubs_covers_count := index .Site.Params "pubs_covers_count" | default 2 }}

<div class="wrapper">
  <div class="row">
    <div style='padding: 1rem 0.9375rem 1rem;'>
      
      <div style='padding-bottom: 2rem;'></div>
      <!-- Subsection 1 -->
      <h2>Latest Articles/Papers</h2>

      <!-- {{ partial "pub-latest" . }}   -->
            <div class="row">
          <div class="column small-12 medium-7 large-6">
          {{ range first $pubs_covers_count ((where .Data.Pages "Params.image" "!=" nil)) }}
              {{ partial "pub-latest" . }}
          {{ end }}
        </div>
      </div>
      
      
      


      
    </div>
  </div>
  
  

  <div class="row">
    
    <!-- Subsection 2. column of left -->
    <div class="column small-12 medium-6">
      <h2>Unpublished</h2>
                          <!--Originally:   "Params.kind" "==" "unpublished" -->
                          <!--Later became: "Params.kind" "==" "paper" -->      
      {{ range (where .Data.Pages "Params.kind" "==" "unpublished").GroupByDate "2006" "desc" }}
      <div class="row">
        <div class="column small-2 medium-2">
          <h3>{{ .Key }}</h3>
        </div>
        <div class="column small-10 medium-10">
          <span style="font-size: 90%">
           <ul class="compact fa-ul">
             {{ range .Pages.ByDate.Reverse }}
             <li style="margin-bottom: 9px;">{{ partial "pub-summary" . }}</li>
             {{ end }}
           </ul></span>
         </div>
       </div>
       {{ end }}
     </div>
     
      <!-- Subsection 3. column on right -->
     <div class="column small-12 medium-6">
      <h2>Published</h2>
                           <!--Originally:    "Params.kind" "!=" "unpublished" -->
                           <!--Later became:  "Params.kind" "==" "book" -->
      {{ range (where .Data.Pages "Params.kind" "!=" "unpublished").GroupByDate "2006" "desc" }}
      <div class="row">
        <div class="column small-2 medium-2">
          <h3>{{ .Key }}</h3>
        </div>
        <div class="column small-10 medium-10">
          <span style="font-size: 90%">
           <ul class="compact fa-ul">
             {{ range .Pages.ByDate.Reverse }}
             <li style="margin-bottom: 9px;">{{ partial "pub-summary" . }}</li>
             {{ end }}
           </ul></span>
         </div>
       </div>
       {{ end }}
     </div>
   </div>
 </div>
 {{ end }}
